body {
    background-color: #5faaf0;
    margin: 0px;
    padding: 50px 60px;
    color: white;
    border: white;
}



header {
    text-align: center;
    margin-top: 5px;
}

h1 {
    font-size: 36px;
    padding: 15px;
    color: #dfe205;
    background-color: rgb(6, 52, 179);
}

th {
    border: 2px solid #8c6b48;
}

table {
    text-align: center;
    position: relative;
    left: 900px;
    bottom: 230px;
}


td {
    border: 2px solid #8c6b48;
    width: 300px;
}

.image {
    position: relative;
    height: 300px;
}

.bottom {
    padding: 30px;
}

.box {
    border: 5px solid black;
    border-radius: 15%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    padding: 30px;

}
